@mixin font($font_name, $file_name, $weight, $style) {

  // Для подключения шрифтов
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// Подключение
@import 'fonts';
@import 'global';

// Стили
.bonus-card {
  display: block;
  margin: 0 auto;
  max-width: 440px;
  padding: 62px 55px 40px;
  background: linear-gradient(68.19deg, #307A00 0.86%, #5EDC0B 79.13%);
  border-radius: 7px;
  border: none;

  &__logo {
    width: 100%;
    padding-right: 7px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__number {
    color: $color-white;
    font-size: 16px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: $color-white;
    border-radius: 50%;

    svg {
      height: 15px;
      fill: $color-green;
    }
  }
}

.bonus-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px auto 0;
  max-width: 440px;
  padding: 16px 16px 14px;
  font-size: 20px;
  line-height: 26px;
  color: $color-white;
  background-color: $color-green;
  border-radius: 7px;

  &__title {
    font-weight: 600;
    text-transform: uppercase;
  }

  &__wrapper {
    width: 100%;
    max-width: 234px;
    margin-top: 8px;
    padding: 16px;
    background-color: $color-white;
    border-radius: 7px;

    img {
      display: flex;
      border-radius: 4px;
    }
  }

  &__number {
    margin-top: 8px;
  }

  &__btn {
    color: $color-green;
    background-color: $color-white;

    svg {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }
}

.bonus {

  &__table {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;

    &+.bonus__empty {
      display: none;
    }
  }

  &__row {
    display: flex;
    height: 48px;
    color: $color-gray;
    font-size: 14px;
    line-height: 17px;

    &:nth-child(n+2) {
      border-top: 1px solid #EEEEEE;
    }
  }

  &__head {
    font-size: 12px;
    line-height: 15px;
    color: $color-black;
    background-color: #F9F9FA;
  }

  &__cell {
    width: 50%;
    padding: 16px;

    &+.bonus__cell {
      border-left: 1px solid #EEEEEE;
    }
  }

  &__empty {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    line-height: 17px;
  }
}


.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 16px) / 2);
  padding: 20px 8px 8px;
  border: 1px solid #ECECEC;
  border-radius: 8px;

  &:nth-child(even) {
    margin-left: 16px;
  }

  &:nth-child(n+3) {
    margin-top: 16px;
  }

  &__img {
    min-height: 92px;
    max-height: 92px;
    object-fit: contain;
    object-position: center bottom;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__name {
    margin-top: 8px;
    font-size: 12px;
    line-height: 15px;
    color: $color-gray;
  }

  &__price {
    display: block;
    margin-top: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-green;
  }

  &__price-old {
    margin-top: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: line-through;
    color: $color-gray;
  }

  &__bottom.added {
    .card__tocart {
      display: none;
    }

    .card__counter {
      display: flex;
    }
  }

  &__tocart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
    padding: 10px;

    & svg {
      fill: $color-white;
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }

  &__counter {
    display: none;
    width: 100%;
    height: 32px;
    margin-top: 16px;
    padding: 0 16px;
    background-color: $color-gray-light;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    fill: $color-white;
    background-color: $color-green;
    border-radius: 50%;
  }

  &__input {
    width: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: $color-black;
  }

  &__weight {
    display: block;
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
  }
}

.banner {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    font-size: 10px;
    line-height: 12px;
    padding: 4px 8px;
    color: $color-white;
    border-radius: 4px;

    &+.banner__item {
      margin-top: 4px;
    }
  }

  &__discount {
    background-color: $color-red;
  }

  &__discount-value {
    background-color: $color-green;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;

  &__item {
    font-size: 10px;
    line-height: 12px;
    color: #B8B5B5;

    &+.breadcrumbs__item {
      position: relative;
      margin-left: 15px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -13px;
        display: block;
        width: 10px;
        height: 1px;
        background-color: #B8B5B5;
      }
    }
  }
}


.set {
  padding: 16px 16px 32px;
  border: 1px solid $color-gray-light;
  border-radius: 8px;

  &__title {
    display: block;
    padding-right: 42px;
    font-size: 16px;
    line-height: 20px;
    color: $color-gray;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 16px) / 2);

    &:nth-child(even) {
      margin-left: 16px;
    }

    &:nth-child(n+3) {
      margin-top: 16px;
    }
  }

  &__img {
    min-height: 90px;
    max-height: 90px;
    width: 100%;
    object-position: center;
    object-fit: contain;
  }

  &__name {
    height: 100%;
    margin-top: 16px;
    font-size: 10px;
    line-height: 12px;
    color: #B8B5B5;
  }

  &__price {
    margin-top: 16px;
    font-weight: 600;
    line-height: 17px;
    color: $color-black;
  }

  &__box {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  &__curent {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  &__old {
    margin-left: 24px;
    font-weight: 600;
    line-height: 17px;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    margin-top: 4px;
  }

  &__discount {
    padding: 4px 8px;
    font-weight: 700;
    line-height: 17px;
    color: $color-black;
    background-color: $color-yellow;
    border-radius: 8px;
  }

  &__economy {
    margin-left: 8px;
    padding: 4px 8px;
    line-height: 17px;
    color: $color-black;
    background: #FFF1BC;
    border-radius: 8px;
  }

  &__tocart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-color: $color-green;
    border: none;
    border-radius: 8px;

    svg {
      width: 20px;
      height: 20px;
      fill: $color-white;
    }
  }
}

.panel {
  position: fixed;
  z-index: 10;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 440px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px 12px;
  background-color: $color-green;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &+.panel__item {
      margin-left: 10px;
    }
  }

  &__icon {
    svg {
      width: 16px;
      height: 16px;
      fill: $color-white;
    }
  }

  &__title {
    margin-top: 1px;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #F8F4F2;
  }

  &__counter {
    position: absolute;
    top: -3px;
    right: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    padding-left: 1px;
    font-size: 10px;
    color: #F8F4F2;
    background-color: $color-red;
    border: 1px solid $color-white;
    border-radius: 50%;
  }
}

@media (max-width: 380px) {
  .panel__title {
    font-size: 8px;
  }
}

.freeMode-slider {
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.discount {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 247px;
    color: $color-black;
    background: linear-gradient(45deg, #EDEDED 0%, #F5F5F5 100%);
    border-radius: 8px;
  }

  &__img {
    height: 102px;
    margin-top: 12px;
    padding: 0 16px;
    object-position: center;
    object-fit: contain;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 16px 8px;
    margin-top: 5px;
  }

  &__title {
    height: 32px;
    font-size: 12px;
    line-height: 16px;
  }

  &__value {
    margin-left: 10px;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: $color-red;
    letter-spacing: 0.38px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 45px;
    text-align: center;
    padding: 9px;
    border-top: 1px solid $color-white;
  }

  &__description {
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
  }
}

.agreement {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 24px;

  &__text {
    font-size: 12px;
    line-height: 15px;
  }
}

.politics {
  display: block;
  margin-top: 32px;
  font-size: 12px;
  line-height: 15px;
  color: $color-main;
}

.description {
  font-size: 12px;
  line-height: 16px;
  color: #7C756B;
}

.login-two {
  display: none;
}

.sms {
  &__wrapper {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__input {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: center;
    border: none;
    border-bottom: 1px solid $color-green;

    &+.sms__input {
      margin-left: 16px;
    }
  }
}

.special-offer {
  &__item {
    position: relative;
    display: block;
    max-width: 196px;
    width: 100%;
    height: 112px;
    max-height: 112px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;

    &-img {
      display: flex;
      align-items: center;

      & .special-offer__text {
        margin-right: 4px;
      }
    }
  }

  &__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 84px;
    max-width: 84px;
    min-height: 84px;
    max-height: 84px;
    background-color: $color-white;
    border-radius: 50%;
  }

  &__text {
    max-width: 130px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-white;
    display: block;
    margin-right: 20px;
  }

  &__discount {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
    font-weight: 900;
    font-size: 20px;
    line-height: 130%;
    color: $color-red;
    background-color: $color-white;
    border-radius: 50%;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: $color-green;
  border-radius: 50%;
  border: none;

  svg {
    width: 5px;
    height: 12px;
    fill: $color-white;
  }
}

.location {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 16px;
  background-color: #F9F9FA;
  border-radius: 8px;

  &__title {
    font-size: 16px;
    line-height: 20px;
    color: $color-green;
  }

  &__box {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
  }

  &__icon {
    svg {
      fill: $color-gray;
      width: 14px;
      height: 16px;
    }

    &+.location__text {
      margin-left: 15px;
    }
  }

  &__text {
    color: $color-gray;
  }

  &__btn {
    width: 100%;
    margin-top: 16px;
  }
}

.search {
  position: relative;
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;

  &__input {
    font-size: 14px;
    line-height: 18px;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 16px;
    background-color: transparent;
    border: none;

    svg {
      width: 24px;
      height: 24px;
      fill: $color-green;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 201px;
    overflow-y: auto;
    border: 1px solid $color-gray-light;
    border-radius: 8px;
  }

  &__item {
    padding: 16px 11px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-gray;

    &+.search__item {
      border-top: 1px solid $color-gray-light;
    }
  }
}

.js-remove {
  display: none;

  svg {
    width: 16px;
    height: 16px;
  }
}

.selected {
  .js-remove {
    display: block;
  }

  .js-search {
    display: none;
  }
}

.poster {
  display: block;
  margin: 32px auto 0;

  &__img {
    width: 100%;
    max-height: 200px;
    border-radius: 8px;
  }
}

.category {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 16px) / 2);
    height: 160px;
    max-height: 160px;
    padding: 20px 12px 10px;
    border-radius: 8px;

    &:nth-child(even) {
      margin-left: 16px;
    }

    &:nth-child(n+3) {
      margin-top: 16px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 80px;
    margin-bottom: 16px;
  }

  &__img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-black;
    text-transform: uppercase;
  }
}

.category-group {

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 62px;
    margin-top: 32px;
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
    color: $color-gray;
    background-color: #F9F9FA;
    border-radius: 8px;

    &+.category-group__item {
      margin-top: 8px;
    }
  }

  &__quantity {
    margin-left: 20px;
  }
}

.personal {
  & .btn {
    margin-top: 32px;
  }

  &__list {
    &+.personal__title {
      margin-top: 32px;
    }
  }

  &__title {
    display: block;
    font-size: 20px;
    line-height: 26px;
    color: $color-green;

    &+.personal__list {
      margin-top: 32px;
    }
  }

  &__link {
    display: block;
    padding: 16px 0;
    font-size: 14px;
    line-height: 18px;
    color: #3B3230;
    border-bottom: 1px solid $color-gray-light;
  }
}

.order-card {

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    padding: 16px;
    background-color: #F9F9FA;
    border-radius: 8px;
    color: $color-gray;
    font-size: 16px;
    line-height: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    margin-top: 4px;
    font-size: 10px;
    line-height: 12px;
    color: $color-main;

    &+.order-card__price {
      margin-top: 16px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4px;
  }

  &__btn {
    padding: 8.5px 17px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $color-green;
    border: 1px solid $color-green;
    border-radius: 8px;
  }

  & .status {
    margin-left: 10px;
  }
}

.status {
  padding: 5px 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: $color-white;
  background: #FFA800;
  border-radius: 8px;
  text-transform: uppercase;

  &+.status {
    margin-left: 8px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    & .status {
      padding: 5px 5.5px;
    }
  }
}

.address {
  .tabs {
    margin-top: 32px;
  }

  .search {
    margin-top: 32px;
  }

  &__form {
    display: none;

    &.active {
      display: block;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__text {
    color: $color-gray;
  }

  &__define {
    display: flex;
    align-items: center;
    color: $color-green;
    background-color: transparent;
    border: none;

    svg {
      width: 13px;
      height: 14px;
      margin-right: 8px;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 26px;
    margin-bottom: 10px;

    .btn {
      display: block;
      height: 41px;
      width: calc((100% - 16px) / 2);
      margin-top: 0;
      padding: 13px 4px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }

    .btn__cancel {
      margin-left: 16px;
      color: $color-gray;
      border: 1px solid #F7F7F7;
      background-color: $color-white;
    }
  }
}

.address-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9px;

  &__inner {
    display: flex;
    align-items: center;
  }

  svg {
    min-width: 14px;
    max-width: 14px;
    min-height: 16px;
    max-height: 16px;
    margin-right: 10px;
    fill: $color-gray;
  }

  &__value {
    font-size: 14px;
    line-height: 17px;
    color: $color-gray;
  }

  &__btn {
    margin-left: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color-green;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
  }
}

.tabs {
  &__item {
    &.active {
      display: block;
    }

    display: none;
  }

  &__btns {
    display: flex;
    align-items: center;
    height: 49px;
    border: 1px solid #ECECEC;
    border-radius: 8px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-gray;
    background-color: #F9F9FA;
    border: none;
    border-radius: 7px;

    &.active {
      color: $color-green;
      background-color: transparent;

      .green {
        display: block;
      }

      .gray {
        display: none;
      }
    }

    .green {
      display: none;
    }

    .gray {
      display: block;
    }

    svg {
      margin-right: 10px;
    }

    &.delivery-btn svg {
      width: 17px;
      height: 16px;
    }

    &.pickup-btn svg {
      width: 16px;
      height: 16px;
    }
  }
}

.time {
  display: flex;

  svg {
    width: 17px;
    height: 16px;
    margin-right: 16px;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
    color: $color-black;
  }

  &__price {
    margin-top: 8px;
    color: $color-gray;
  }
}


.order-detail {
  &__date {
    display: block;
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 12px;
    color: $color-gray;
  }

  &__subtitle {
    display: block;
    margin-top: 32px;
    font-weight: 600;
  }

  &__text {
    display: block;
    margin-top: 8px;
    color: #3B3230;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid $color-gray-light;
    border-radius: 8px;
  }

  &__img {
    width: 78px;
    margin-right: 28px;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 16px;
    line-height: 21px;

    b {
      display: inline-block;
      color: $color-black;
    }
  }

  &__weight {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  &__current {
    color: $color-green
  }

  &__old {
    margin-left: 16px;
    color: $color-gray;
    text-decoration: line-through;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;

    & .order-detail__subtitle {
      margin-top: 0;
    }
  }

  &__total {
    font-weight: 700;
    color: $color-green;
  }
}

@media (min-width: 400px) {
  .order-detail__img {
    width: 50%;
  }
}

.order {
  .order__title {
    margin-top: 21px;
  }

  &__title {
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  &__method {
    display: none;

    &.active {
      display: block;
    }
  }

  &__address-btn {
    width: 100%;
    padding: 13px;
    font-size: 12px;
    line-height: 15px;
    color: $color-green;
    background-color: transparent;
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
    color: #3B3230;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 16px;
  }

  &__subtitle {
    line-height: 17px;
  }

  &__img {
    margin-left: 20px;
    object-fit: contain;
    object-position: center;
  }

  .address-box {
    margin-top: 33px;
  }

  .check {
    margin: 16px 0;
  }

  .check__label {
    font-size: 12px;
    line-height: 15px;
  }

  .delivery__price {
    margin-top: 16px;
  }
}

.qr {
  margin-top: 32px;
  padding: 16px 16px 35px;
  background-color: #F9F9FA;
  border-radius: 8px;

  &__title {
    display: inline-block;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #0E0D0D;
  }

  &__wrapper {
    min-width: 204px;
    width: calc(100% - 32px);
    margin: 16px auto 0;
    padding: 16px;
    background-color: $color-white;
    border-radius: 4px;
  }

  &__code {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &+.btn {
    margin-top: 32px;
  }
}

.file {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;

  &__label {
    display: flex;
    align-items: flex-start;
  }

  &__input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__pin {
    height: 24px;
    width: 21px;
    padding: 11px 16px 0 0;
    box-sizing: content-box !important;
  }

  &__attach {
    padding: 11px 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    vertical-align: middle;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 11px;
  }

  &__remove-button {
    padding-top: 1px;
    margin-left: 8px;
    box-sizing: content-box;
    border: none;
    background-color: transparent;
  }
}

.delivery {
  &__price {
    display: block;
    margin-top: 8px;
  }
}

.shop {
  &__item {
    margin-top: 16px;
  }
}

.map {
  width: 100%;
  height: 60vh;
}

.map-list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    padding: 16px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;

    svg {
      width: 24px;
      height: 24px;
    }

    &+.map-list__item {
      margin-top: 8px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
  }

  &__address {
    margin-top: 2px;
    font-size: 16px;
    line-height: 20px;
    color: $color-gray;
  }

  &__time {
    margin-top: 4px;
    font-size: 16px;
    line-height: 20px;
  }
}

.card-detail {
  &__title {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color-green;
  }

  &__wrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid #ECECED;
    border-radius: 8px;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

  }

  &__info {
    margin-top: 32px;
    padding: 32px 32px 28px;
    background-color: #F9F9FA;
    border: 1px solid #ECECED;
    border-radius: 8px;

    .card__price-old {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }

    .card__price {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 16px;

    .btn__submit {
      margin-top: 0;
      margin-left: 16px;

      &.added {
        color: $color-green;
        background-color: $color-white
      }
    }
  }
}

.swiper-pagination {
  position: relative;
  bottom: 0 !important;
  margin-top: 12px;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: #EAEAEB;
}

.swiper-pagination-bullet-active {
  background-color: $color-green;
}

.specifications {
  margin-top: 16px;

  &__title {
    font-size: 12px;
    line-height: 16px;
    color: $color-gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  &__item {
    display: flex;
    font-size: 12px;
    line-height: 16px;

    &+.specifications__item {
      margin-top: 10px;
    }
  }

  &__left {
    width: 90px;
    color: #D0D0D0;
  }

  &__right {
    margin-left: 20px;
    color: $color-gray;
  }
}

.switcher {
  display: inline-flex;
  width: fit-content;
  margin-top: 16px;
  background-color: #F9F9FA;
  border: 1px solid #ECECED;
  border-radius: 8px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    padding: 8px 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-gray;
    background-color: #F9F9FA;
    border-radius: 8px;
    border: none;

    &.active {
      color: $color-green;
      background-color: $color-white;
    }
  }
}

.cart {
  .section-title {
    margin-bottom: 5px;
  }

  &__total {
    display: inline-block;
    margin-bottom: 13px;
  }

  &__item {
    width: 100%;
    overflow-x: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    transition: all linear 0.1s;
  }

  &__inner {
    position: relative;
    display: flex;
    width: 100%;
    padding: 16px 0 16px 16px;
    transition: all linear 0.2s;
  }

  & .draggieHandle {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  & .undraggie {
    position: relative;
    z-index: 3;
  }

  &__img {
    max-height: 110px;
    min-width: 40%;
    max-width: 40%;
    margin-top: 20px;
    object-fit: contain;
    object-position: center;
  }

  &__right {
    position: relative;
    min-width: calc(60% - 16px);
    max-width: calc(60% - 16px);
    margin-left: 16px;
  }

  &__name {
    display: block;
    font-size: 16px;
    line-height: 21px;
  }

  &__weight {
    display: block;
    margin-top: 4px;
    padding-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #D0D0D0;
  }

  &__box {
    display: flex;
    margin-top: 16px;
  }

  .counter+.cart__price {
    margin-left: 28px;
  }

  &__delete {
    position: absolute;
    top: 0;
    left: 110%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 1002px;
    max-width: 1002px;
    min-height: 100%;
    padding-left: 14px;
    background-color: $color-red;
    border-radius: 8px 0px 0px 8px;

    svg {
      width: 20px;
      height: 22px;
    }
  }
}

@media (max-width: 420px) {
  .cart__img {
    min-width: 30%;
    max-width: 30%;
  }

  .cart__right {
    min-width: calc(70% - 16px);
    max-width: calc(70% - 16px);
  }
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $color-green;

  background-size: 210px 210px;
  background-repeat: repeat;
  animation: preloaderBg 20s linear infinite;

  &__wrapper {
    max-width: 334px;
    padding: 20px;
  }

  &__logo {
    width: 100%;

  }

  &__title {
    display: inline-block;
    margin-top: 32px;
    font-weight: 900;
    font-size: 36px;
    line-height: 47px;
    color: $color-white;
  }
}

@media (max-width: 360px) {
  .preloader__title {
    font-size: 28px;
    line-height: 38px;
  }
}

@keyframes preloaderBg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}