@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: transparent;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: url("../img/calendar.svg") no-repeat center;
  background-size: contain;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #7D7D7D;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  max-width: 560px;
  margin: 0 auto;
  padding: 58px 0 124px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 32px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #47B200;
}

.section-title__quantity {
  font-size: 12px;
  line-height: 16px;
  color: #5A5D5A;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #47B200;
  border-radius: 8px;
  border: none;
  border: 1px solid #47B200;
}

.btn__submit {
  width: 100%;
  height: 41px;
  margin-top: 24px;
  padding: 13px;
  font-size: 12px;
  line-height: 15px;
}

.slide-btn {
  position: relative;
  display: block;
  min-width: 48px;
  max-width: 48px;
  height: 16px;
  margin-top: 4px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #ADFF99;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.slide-btn__circle {
  position: absolute;
  top: -5px;
  left: -1px;
  width: 24px;
  height: 24px;
  background-color: #47B200;
  border-radius: 50%;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.slide-btn__input:checked ~ .slide-btn {
  background-color: #ADFF99;
}

.slide-btn__input:checked ~ .slide-btn .slide-btn__circle {
  left: calc(100% - 23px);
}

.input {
  width: 100%;
  height: 44px;
  padding: 11px 16px;
  font-size: 16px;
  line-height: 21px;
  color: #7C756B;
  background-color: transparent;
  border: 1px solid #47B200;
  border-radius: 8px;
}

.input.error {
  border: 1px solid #B61426;
}

.input + .input,
.input + label,
label + .input {
  display: block;
  margin-top: 16px;
}

textarea.input {
  min-height: 112px;
  max-height: 112px;
  resize: none;
}

.order textarea.input {
  min-height: 60px;
  max-height: 60px;
}

.profile .input {
  font-size: 14px;
  line-height: 18px;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 32px 0;
}

.check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7C756B;
}

.check__label + .check__label {
  margin-left: 40px;
}

.check__input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.check__input:checked + .check__box {
  background-color: #47B200;
}

.check__input:checked + .check__box svg {
  display: block;
}

.check__input.error + .check__box {
  border: 1px solid #B61426;
}

.check__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 17px;
  border-radius: 4px;
  border: 1px solid #47B200;
}

.check__box svg {
  display: none;
  width: 14px;
  height: 11px;
  fill: #F8F4F2;
}

.placeholder {
  position: relative;
}

.placeholder__text {
  position: absolute;
  top: 3px;
  left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 50px);
  height: calc(100% - 6px);
  padding-left: 12px;
  font-size: 14px;
  line-height: 18px;
  background-color: #FFFFFF;
}

.profile .placeholder__text {
  font-size: 14px;
  line-height: 18px;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 24px;
  padding-right: 10px;
  background-color: transparent;
  border: none;
}

.back svg {
  height: 13px;
}

.back + .section-title {
  margin-top: 16px;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
  padding: 0;
}

.counter * {
  border: none;
}

.counter__input {
  padding: 0;
  height: 100%;
  background-color: transparent;
}

.counter__minus svg {
  width: 4px;
  height: 6px;
}

.counter__plus svg {
  width: 6px;
  height: 6px;
}

.counter__small {
  width: 64px;
  height: 41px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #47B200;
  border-radius: 8px;
}

.counter__small .counter__input {
  width: 20px;
  text-align: center;
}

.counter__small .counter__minus {
  padding: 10px 4px 11px 13px;
  height: 100%;
  background-color: transparent;
}

.counter__small .counter__plus {
  padding: 10px 13px 11px 4px;
  height: 100%;
  background-color: transparent;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  min-height: 100vh;
  padding: 10vh 20px 10vh;
  overflow-y: scroll;
}

.modal__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 540px;
  max-height: 80vh;
  margin: 0 auto;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow-y: auto;
}

.modal__title {
  font-size: 20px;
  line-height: 24px;
  color: #47B200;
}

.modal__text {
  margin-top: 16px;
}

.modal__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__btn {
  display: block;
  margin-top: 32px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.modal__btn + .modal__btn {
  margin-left: 32px;
}

.noscroll {
  overflow-y: hidden;
}

.separator {
  height: 1px;
  width: 100%;
  margin: 32px 0;
  background-color: #ECECEC;
}

.bonus-card {
  display: block;
  margin: 0 auto;
  max-width: 440px;
  padding: 62px 55px 40px;
  background: -o-linear-gradient(21.81deg, #307A00 0.86%, #5EDC0B 79.13%);
  background: linear-gradient(68.19deg, #307A00 0.86%, #5EDC0B 79.13%);
  border-radius: 7px;
  border: none;
}

.bonus-card__logo {
  width: 100%;
  padding-right: 7px;
}

.bonus-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.bonus-card__number {
  color: #FFFFFF;
  font-size: 16px;
}

.bonus-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.bonus-card__icon svg {
  height: 15px;
  fill: #47B200;
}

.bonus-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px auto 0;
  max-width: 440px;
  padding: 16px 16px 14px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #47B200;
  border-radius: 7px;
}

.bonus-detail__title {
  font-weight: 600;
  text-transform: uppercase;
}

.bonus-detail__wrapper {
  width: 100%;
  max-width: 234px;
  margin-top: 8px;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 7px;
}

.bonus-detail__wrapper img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.bonus-detail__number {
  margin-top: 8px;
}

.bonus-detail__btn {
  color: #47B200;
  background-color: #FFFFFF;
}

.bonus-detail__btn svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.bonus__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 28px;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
}

.bonus__table + .bonus__empty {
  display: none;
}

.bonus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  color: #5A5D5A;
  font-size: 14px;
  line-height: 17px;
}

.bonus__row:nth-child(n+2) {
  border-top: 1px solid #EEEEEE;
}

.bonus__head {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  background-color: #F9F9FA;
}

.bonus__cell {
  width: 50%;
  padding: 16px;
}

.bonus__cell + .bonus__cell {
  border-left: 1px solid #EEEEEE;
}

.bonus__empty {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  line-height: 17px;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100% - 16px) / 2);
  padding: 20px 8px 8px;
  border: 1px solid #ECECEC;
  border-radius: 8px;
}

.card:nth-child(even) {
  margin-left: 16px;
}

.card:nth-child(n+3) {
  margin-top: 16px;
}

.card__img {
  min-height: 92px;
  max-height: 92px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.card__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.card__name {
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
  color: #5A5D5A;
}

.card__price {
  display: block;
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #47B200;
}

.card__price-old {
  margin-top: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: line-through;
  color: #5A5D5A;
}

.card__bottom.added .card__tocart {
  display: none;
}

.card__bottom.added .card__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__tocart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 16px;
  padding: 10px;
}

.card__tocart svg {
  fill: #FFFFFF;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

.card__counter {
  display: none;
  width: 100%;
  height: 32px;
  margin-top: 16px;
  padding: 0 16px;
  background-color: #ECECEC;
}

.card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  fill: #FFFFFF;
  background-color: #47B200;
  border-radius: 50%;
}

.card__input {
  width: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

.card__weight {
  display: block;
  margin-top: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}

.banner {
  position: absolute;
  top: 8px;
  left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.banner__item {
  font-size: 10px;
  line-height: 12px;
  padding: 4px 8px;
  color: #FFFFFF;
  border-radius: 4px;
}

.banner__item + .banner__item {
  margin-top: 4px;
}

.banner__discount {
  background-color: #B61426;
}

.banner__discount-value {
  background-color: #47B200;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8px;
}

.breadcrumbs__item {
  font-size: 10px;
  line-height: 12px;
  color: #B8B5B5;
}

.breadcrumbs__item + .breadcrumbs__item {
  position: relative;
  margin-left: 15px;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -13px;
  display: block;
  width: 10px;
  height: 1px;
  background-color: #B8B5B5;
}

.set {
  padding: 16px 16px 32px;
  border: 1px solid #ECECEC;
  border-radius: 8px;
}

.set__title {
  display: block;
  padding-right: 42px;
  font-size: 16px;
  line-height: 20px;
  color: #5A5D5A;
}

.set__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
}

.set__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100% - 16px) / 2);
}

.set__item:nth-child(even) {
  margin-left: 16px;
}

.set__item:nth-child(n+3) {
  margin-top: 16px;
}

.set__img {
  min-height: 90px;
  max-height: 90px;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.set__name {
  height: 100%;
  margin-top: 16px;
  font-size: 10px;
  line-height: 12px;
  color: #B8B5B5;
}

.set__price {
  margin-top: 16px;
  font-weight: 600;
  line-height: 17px;
  color: #000000;
}

.set__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.set__curent {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.set__old {
  margin-left: 24px;
  font-weight: 600;
  line-height: 17px;
}

.set__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4px;
}

.set__discount {
  padding: 4px 8px;
  font-weight: 700;
  line-height: 17px;
  color: #000000;
  background-color: #FFCD1E;
  border-radius: 8px;
}

.set__economy {
  margin-left: 8px;
  padding: 4px 8px;
  line-height: 17px;
  color: #000000;
  background: #FFF1BC;
  border-radius: 8px;
}

.set__tocart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: #47B200;
  border: none;
  border-radius: 8px;
}

.set__tocart svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.panel {
  position: fixed;
  z-index: 10;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 12px;
  background-color: #47B200;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.panel__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.panel__item + .panel__item {
  margin-left: 10px;
}

.panel__icon svg {
  width: 16px;
  height: 16px;
  fill: #FFFFFF;
}

.panel__title {
  margin-top: 1px;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  color: #F8F4F2;
}

.panel__counter {
  position: absolute;
  top: -3px;
  right: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14px;
  height: 14px;
  padding-left: 1px;
  font-size: 10px;
  color: #F8F4F2;
  background-color: #B61426;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.freeMode-slider {
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.discount__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 247px;
  color: #000000;
  background: -o-linear-gradient(45deg, #EDEDED 0%, #F5F5F5 100%);
  background: linear-gradient(45deg, #EDEDED 0%, #F5F5F5 100%);
  border-radius: 8px;
}

.discount__img {
  height: 102px;
  margin-top: 12px;
  padding: 0 16px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.discount__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0 16px 8px;
  margin-top: 5px;
}

.discount__title {
  height: 32px;
  font-size: 12px;
  line-height: 16px;
}

.discount__value {
  margin-left: 10px;
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  color: #B61426;
  letter-spacing: 0.38px;
}

.discount__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-height: 45px;
  text-align: center;
  padding: 9px;
  border-top: 1px solid #FFFFFF;
}

.discount__description {
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.agreement__text {
  font-size: 12px;
  line-height: 15px;
}

.politics {
  display: block;
  margin-top: 32px;
  font-size: 12px;
  line-height: 15px;
  color: #7D7D7D;
}

.description {
  font-size: 12px;
  line-height: 16px;
  color: #7C756B;
}

.login-two {
  display: none;
}

.sms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sms__input {
  width: 100%;
  height: 60px;
  font-size: 32px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #47B200;
}

.sms__input + .sms__input {
  margin-left: 16px;
}

.special-offer__item {
  position: relative;
  display: block;
  max-width: 196px;
  width: 100%;
  height: 112px;
  max-height: 112px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  border-radius: 8px;
}

.special-offer__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special-offer__item-img .special-offer__text {
  margin-right: 4px;
}

.special-offer__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 84px;
  max-width: 84px;
  min-height: 84px;
  max-height: 84px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.special-offer__text {
  max-width: 130px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-right: 20px;
}

.special-offer__discount {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 44px;
  max-width: 44px;
  min-height: 44px;
  max-height: 44px;
  font-weight: 900;
  font-size: 20px;
  line-height: 130%;
  color: #B61426;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #47B200;
  border-radius: 50%;
  border: none;
}

.info svg {
  width: 5px;
  height: 12px;
  fill: #FFFFFF;
}

.location {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 16px;
  background-color: #F9F9FA;
  border-radius: 8px;
}

.location__title {
  font-size: 16px;
  line-height: 20px;
  color: #47B200;
}

.location__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8px;
}

.location__icon svg {
  fill: #5A5D5A;
  width: 14px;
  height: 16px;
}

.location__icon + .location__text {
  margin-left: 15px;
}

.location__text {
  color: #5A5D5A;
}

.location__btn {
  width: 100%;
  margin-top: 16px;
}

.search {
  position: relative;
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
}

.search__input {
  font-size: 14px;
  line-height: 18px;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 16px;
  background-color: transparent;
  border: none;
}

.search__btn svg {
  width: 24px;
  height: 24px;
  fill: #47B200;
}

.search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 201px;
  overflow-y: auto;
  border: 1px solid #ECECEC;
  border-radius: 8px;
}

.search__item {
  padding: 16px 11px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5A5D5A;
}

.search__item + .search__item {
  border-top: 1px solid #ECECEC;
}

.js-remove {
  display: none;
}

.js-remove svg {
  width: 16px;
  height: 16px;
}

.selected .js-remove {
  display: block;
}

.selected .js-search {
  display: none;
}

.poster {
  display: block;
  margin: 32px auto 0;
}

.poster__img {
  width: 100%;
  max-height: 200px;
  border-radius: 8px;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100% - 16px) / 2);
  height: 160px;
  max-height: 160px;
  padding: 20px 12px 10px;
  border-radius: 8px;
}

.category__item:nth-child(even) {
  margin-left: 16px;
}

.category__item:nth-child(n+3) {
  margin-top: 16px;
}

.category__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-height: 80px;
  margin-bottom: 16px;
}

.category__img {
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.category__title {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.category-group__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 62px;
  margin-top: 32px;
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #5A5D5A;
  background-color: #F9F9FA;
  border-radius: 8px;
}

.category-group__item + .category-group__item {
  margin-top: 8px;
}

.category-group__quantity {
  margin-left: 20px;
}

.personal .btn {
  margin-top: 32px;
}

.personal__list + .personal__title {
  margin-top: 32px;
}

.personal__title {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #47B200;
}

.personal__title + .personal__list {
  margin-top: 32px;
}

.personal__link {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  line-height: 18px;
  color: #3B3230;
  border-bottom: 1px solid #ECECEC;
}

.order-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 16px;
  padding: 16px;
  background-color: #F9F9FA;
  border-radius: 8px;
  color: #5A5D5A;
  font-size: 16px;
  line-height: 20px;
}

.order-card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-card__date {
  margin-top: 4px;
  font-size: 10px;
  line-height: 12px;
  color: #7D7D7D;
}

.order-card__date + .order-card__price {
  margin-top: 16px;
}

.order-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4px;
}

.order-card__btn {
  padding: 8.5px 17px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #47B200;
  border: 1px solid #47B200;
  border-radius: 8px;
}

.order-card .status {
  margin-left: 10px;
}

.status {
  padding: 5px 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  background: #FFA800;
  border-radius: 8px;
  text-transform: uppercase;
}

.status + .status {
  margin-left: 8px;
}

.status__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status__wrapper .status {
  padding: 5px 5.5px;
}

.address .tabs {
  margin-top: 32px;
}

.address .search {
  margin-top: 32px;
}

.address__form {
  display: none;
}

.address__form.active {
  display: block;
}

.address__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.address__text {
  color: #5A5D5A;
}

.address__define {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #47B200;
  background-color: transparent;
  border: none;
}

.address__define svg {
  width: 13px;
  height: 14px;
  margin-right: 8px;
}

.address__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-bottom: 10px;
}

.address__bottom .btn {
  display: block;
  height: 41px;
  width: calc((100% - 16px) / 2);
  margin-top: 0;
  padding: 13px 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.address__bottom .btn__cancel {
  margin-left: 16px;
  color: #5A5D5A;
  border: 1px solid #F7F7F7;
  background-color: #FFFFFF;
}

.address-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
}

.address-box__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-box svg {
  min-width: 14px;
  max-width: 14px;
  min-height: 16px;
  max-height: 16px;
  margin-right: 10px;
  fill: #5A5D5A;
}

.address-box__value {
  font-size: 14px;
  line-height: 17px;
  color: #5A5D5A;
}

.address-box__btn {
  margin-left: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #47B200;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  background-color: transparent;
  border: none;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.tabs__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  border: 1px solid #ECECEC;
  border-radius: 8px;
}

.tabs__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #5A5D5A;
  background-color: #F9F9FA;
  border: none;
  border-radius: 7px;
}

.tabs__btn.active {
  color: #47B200;
  background-color: transparent;
}

.tabs__btn.active .green {
  display: block;
}

.tabs__btn.active .gray {
  display: none;
}

.tabs__btn .green {
  display: none;
}

.tabs__btn .gray {
  display: block;
}

.tabs__btn svg {
  margin-right: 10px;
}

.tabs__btn.delivery-btn svg {
  width: 17px;
  height: 16px;
}

.tabs__btn.pickup-btn svg {
  width: 16px;
  height: 16px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time svg {
  width: 17px;
  height: 16px;
  margin-right: 16px;
}

.time__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.time__title {
  font-weight: 600;
  color: #000000;
}

.time__price {
  margin-top: 8px;
  color: #5A5D5A;
}

.order-detail__date {
  display: block;
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 12px;
  color: #5A5D5A;
}

.order-detail__subtitle {
  display: block;
  margin-top: 32px;
  font-weight: 600;
}

.order-detail__text {
  display: block;
  margin-top: 8px;
  color: #3B3230;
}

.order-detail__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #ECECEC;
  border-radius: 8px;
}

.order-detail__img {
  width: 78px;
  margin-right: 28px;
}

.order-detail__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-detail__name {
  font-size: 16px;
  line-height: 21px;
}

.order-detail__name b {
  display: inline-block;
  color: #000000;
}

.order-detail__weight {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}

.order-detail__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.order-detail__current {
  color: #47B200;
}

.order-detail__old {
  margin-left: 16px;
  color: #5A5D5A;
  text-decoration: line-through;
}

.order-detail__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.order-detail__box .order-detail__subtitle {
  margin-top: 0;
}

.order-detail__total {
  font-weight: 700;
  color: #47B200;
}

.order .order__title {
  margin-top: 21px;
}

.order__title {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.order__method {
  display: none;
}

.order__method.active {
  display: block;
}

.order__address-btn {
  width: 100%;
  padding: 13px;
  font-size: 12px;
  line-height: 15px;
  color: #47B200;
  background-color: transparent;
}

.order__text {
  font-size: 20px;
  line-height: 26px;
  color: #3B3230;
}

.order__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 16px;
}

.order__subtitle {
  line-height: 17px;
}

.order__img {
  margin-left: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.order .address-box {
  margin-top: 33px;
}

.order .check {
  margin: 16px 0;
}

.order .check__label {
  font-size: 12px;
  line-height: 15px;
}

.order .delivery__price {
  margin-top: 16px;
}

.qr {
  margin-top: 32px;
  padding: 16px 16px 35px;
  background-color: #F9F9FA;
  border-radius: 8px;
}

.qr__title {
  display: inline-block;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0E0D0D;
}

.qr__wrapper {
  min-width: 204px;
  width: calc(100% - 32px);
  margin: 16px auto 0;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.qr__code {
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.qr + .btn {
  margin-top: 32px;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 5px;
}

.file__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.file__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.file__pin {
  height: 24px;
  width: 21px;
  padding: 11px 16px 0 0;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.file__attach {
  padding: 11px 0 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  vertical-align: middle;
}

.file__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.file__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 11px;
}

.file__remove-button {
  padding-top: 1px;
  margin-left: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  background-color: transparent;
}

.delivery__price {
  display: block;
  margin-top: 8px;
}

.shop__item {
  margin-top: 16px;
}

.map {
  width: 100%;
  height: 60vh;
}

.map-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
}

.map-list__item svg {
  width: 24px;
  height: 24px;
}

.map-list__item + .map-list__item {
  margin-top: 8px;
}

.map-list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8px;
}

.map-list__address {
  margin-top: 2px;
  font-size: 16px;
  line-height: 20px;
  color: #5A5D5A;
}

.map-list__time {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
}

.card-detail__title {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #47B200;
}

.card-detail__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid #ECECED;
  border-radius: 8px;
}

.card-detail__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.card-detail__info {
  margin-top: 32px;
  padding: 32px 32px 28px;
  background-color: #F9F9FA;
  border: 1px solid #ECECED;
  border-radius: 8px;
}

.card-detail__info .card__price-old {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.card-detail__info .card__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card-detail__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.card-detail__bottom .btn__submit {
  margin-top: 0;
  margin-left: 16px;
}

.card-detail__bottom .btn__submit.added {
  color: #47B200;
  background-color: #FFFFFF;
}

.swiper-pagination {
  position: relative;
  bottom: 0 !important;
  margin-top: 12px;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: #EAEAEB;
}

.swiper-pagination-bullet-active {
  background-color: #47B200;
}

.specifications {
  margin-top: 16px;
}

.specifications__title {
  font-size: 12px;
  line-height: 16px;
  color: #5A5D5A;
}

.specifications__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

.specifications__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 16px;
}

.specifications__item + .specifications__item {
  margin-top: 10px;
}

.specifications__left {
  width: 90px;
  color: #D0D0D0;
}

.specifications__right {
  margin-left: 20px;
  color: #5A5D5A;
}

.switcher {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 16px;
  background-color: #F9F9FA;
  border: 1px solid #ECECED;
  border-radius: 8px;
}

.switcher__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 32px;
  padding: 8px 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #5A5D5A;
  background-color: #F9F9FA;
  border-radius: 8px;
  border: none;
}

.switcher__item.active {
  color: #47B200;
  background-color: #FFFFFF;
}

.cart .section-title {
  margin-bottom: 5px;
}

.cart__total {
  display: inline-block;
  margin-bottom: 13px;
}

.cart__item {
  width: 100%;
  overflow-x: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.cart__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px 0 16px 16px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.cart .draggieHandle {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart .undraggie {
  position: relative;
  z-index: 3;
}

.cart__img {
  max-height: 110px;
  min-width: 40%;
  max-width: 40%;
  margin-top: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.cart__right {
  position: relative;
  min-width: calc(60% - 16px);
  max-width: calc(60% - 16px);
  margin-left: 16px;
}

.cart__name {
  display: block;
  font-size: 16px;
  line-height: 21px;
}

.cart__weight {
  display: block;
  margin-top: 4px;
  padding-bottom: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}

.cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.cart .counter + .cart__price {
  margin-left: 28px;
}

.cart__delete {
  position: absolute;
  top: 0;
  left: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 1002px;
  max-width: 1002px;
  min-height: 100%;
  padding-left: 14px;
  background-color: #B61426;
  border-radius: 8px 0px 0px 8px;
}

.cart__delete svg {
  width: 20px;
  height: 22px;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #47B200;
  background-size: 210px 210px;
  background-repeat: repeat;
  -webkit-animation: preloaderBg 20s linear infinite;
          animation: preloaderBg 20s linear infinite;
}

.preloader__wrapper {
  max-width: 334px;
  padding: 20px;
}

.preloader__logo {
  width: 100%;
}

.preloader__title {
  display: inline-block;
  margin-top: 32px;
  font-weight: 900;
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
}

@-webkit-keyframes preloaderBg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes preloaderBg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 400px) {
  .order-detail__img {
    width: 50%;
  }
}

@media (max-width: 420px) {
  .cart__img {
    min-width: 30%;
    max-width: 30%;
  }

  .cart__right {
    min-width: calc(70% - 16px);
    max-width: calc(70% - 16px);
  }
}

@media (max-width: 380px) {
  .panel__title {
    font-size: 8px;
  }
}

@media (max-width: 360px) {
  .preloader__title {
    font-size: 28px;
    line-height: 38px;
  }
}